# 在 .npmrc 文件中添加以下内容
//localhost:4873/:_authToken="NzJkMWJjZDg0MDdlYTNiODQyMWViMTU0MDlhODc3ZjU6OTllNzE4NzBjNzRmN2U4OTkyMDY1NTFiYTZiMGJkODE2Yg=="
registry=https://registry.npmjs.org/

# @we 包使用私有仓库
@we:registry=http://localhost:4873/

# changesets 相关包使用公共仓库
@changesets:registry=https://registry.npmjs.org/
@manypkg:registry=https://registry.npmjs.org/