# # 默认 registry
# registry=https://registry.npmjs.org/

# # 私有包配置
@we:registry=http://localhost:4873/
//localhost:4873/:_authToken="NzJkMWJjZDg0MDdlYTNiODQyMWViMTU0MDlhODc3ZjU6OTllNzE4NzBjNzRmN2U4OTkyMDY1NTFiYTZiMGJkODE2Yg=="

# # changesets 配置
# @changesets:registry=https://registry.npmjs.org/
# @manypkg:registry=https://registry.npmjs.org/

# # 其他配置
# save-exact=true
# engine-strict=true
# auto-install-peers=true
# strict-peer-dependencies=false
# shamefully-hoist=true